/* Estilos básicos para o corpo */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(
      90deg,
      rgba(65, 185, 131, 1) 0%,
      rgba(0, 212, 255, 1) 100%
  );
  flex-direction: column;
}

h1 {
  color: #ffffff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Container do jogo */
.game-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

/* Estilos para cada célula do jogo */
.cell {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem; /* Aumenta o tamanho dos símbolos */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cell:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transform: scale(1.1); /* Efeito de zoom nos símbolos */
}

.status {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Estilos para o botão de reiniciar */
.restart, .restart-modal {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.restart-modal {
  background-color: #333;
  color: #ffffff;
}

.restart:hover {
  background-color: #dddddd;
}

/* Estilos para o modal de vitória */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-message {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}
